/* ----------------------------------------- GLOBAL STYLES ----------------------------------------- */
/* (1a) UNIVERSAL RESET: reset default spacing and ensure box-sizing */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* (1b) RESET ROOT: font size for rem calculations (1rem = 10px) instead of 10px */
html {
    font-size: 62.5%; /* root element adjust to user browser settings x */
}

/* (2) GLOBAL VARAIBLES: */
:root {
    /* Font Sizes (12px, 13px, 14px, 15px, 16px, 20px, 24px, 32px, 40px, 48px, 62px) */
    --font-size-sm: 1.2rem;   /* 12px */
    --font-size-md: 1.3rem;   /* 13px */
    --font-size-lg: 1.4rem;   /* 14px */
    --font-size-xl: 1.5rem;   /* 15px */
    --font-size-base: 1.6rem; /* 16px, base */
    --font-size-p: 2.0rem;    /* 20px */
    --font-size-h5: 2.4rem;   /* 24px */
    --font-size-h4: 3.2rem;   /* 32px */
    --font-size-h3: 4.0rem;   /* 40px */
    --font-size-h2: 4.8rem;   /* 48px */
    --font-size-h1: 6.2rem;   /* 62px */

    /* Font Weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Line Heights */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* Letter Spacing */
    --letter-spacing-normal: 0px;
    --letter-spacing-tight: -1px;

    /* Font Family */
    --font-family: "Righteous", sans-serif;
    
    /* Colors */
    --primary-base: #1C1D20; /* Night | PRIMARY: #1C1D20*/
    --primary-tint: #70737A; /* Light Night */
    --primary-shade: #101114; /* Dark Night | BACKGROUND: #101114 */
    --secondary-base: #4A4D57; /* Meh Grey | SECONDARY-COLOR: #4A4D57 */
    --secondary-tint: #B0B3BC; /* Light Meh Grey */
    --secondary-tint-hsl: 357, 100%, 74%; /* to use w/opacity for wrong asnwers at end */
    --secondary-shade: #1D1F23; /* Dark Meh Grey */
    --tertiary-base: #00FFC4; /* Lime | ACCENT-COLOR: #00FFC4 */
    --tertiary-tint: #B3FFED; /* Light Lime */
    --tertiary-shade: #004D3B; /* Dark Lime */
    --grey-base: #495057; /* Slate */
    --grey-tint: #f1f3f5; /* Pebble | TEXT-COLOR: #F9F9F9 */
    --grey-shade: #212529; /* Graphite */
    --white: #ffffff; /* White */
    --black: #000000; /* Black */

    /* Used for delete (trash can) on hover */
    --accent-base: #E63410; /* Tomato-Red */
    --accent-tint: #EB593C; /* Light Tomato-Red */
    --accent-shade: #B8290D; /* Dark Tomato-Red */

    /* Shadows */
    --shadow-black-15: hsla(244, 19%, 16%, 15%);
    --shadow-black-20: hsla(244, 19%, 16%, 20%);
    --shadow-black-25: hsla(244, 19%, 16%, 25%);
    --shadow-black-30: hsla(244, 19%, 16%, 30%);
    --shadow-black-35: hsla(244, 19%, 16%, 35%);
    --shadow-black-45: hsla(244, 19%, 16%, 45%);
    --shadow-black-50: hsla(244, 19%, 16%, 50%);

    /* Border Radius */
    --border-radius-md: 8px;
    --border-radius-lg: 20px;

    /* Spacing System */
    --space-0: 0px;
    --space-5: 5px;
    --space-10: 10px;
    --space-15: 15px;
    --space-20: 20px;
    --space-25: 25px;
    --space-30: 30px;
    --space-40: 40px;
    --space-50: 50px;
    --space-60: 60px;
    --space-70: 70px;
    --space-80: 80px;
    --space-90: 90px;
    --space-100: 100px;
    --space-125: 125px;
    --space-150: 150px;
    --space-200: 200px;
    --space-250: 250px;
    --space-300: 300px;
    --space-400: 400px;
    --space-500: 500px;
}

/* (3) BODY STYLES: all child tags, inherit these text properties */
body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-tint);
    background-color: var(--primary-shade);
}

/* (4) RESPONSIVE CONTAINER: contains all content in body tag (includes header, main, footer) */
.container {
    max-width: 1200px; /* common laptop/desktop screen size, don't stretch to wide for larger screens*/
    width: 80%; /* responsive on smaller screens */
    margin: 2rem auto; /* specified top & bottom, auto left and right -> horizontally centers container */

    /* temporary just to see border ... remove */
    /* border: 0.25rem solid var(--secondary-base); */
}

/* (5) REMAINING TYPOGRAPHY SETTINGS: headings, paragraphs/links, utility classes*/
/* Headings */
h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

/* Paragraphs and Links */
p {
    font-size: var(--font-size-p);
}

a {
    text-decoration: none; /* removes default underline */
    font-size: var(--font-size-base);
    display: inline-block;
    color: var(--grey-base);
}

a:hover {
    color: var(--primary-base); /* Better UX with distinct hover state */
}

a:link, a:active, a:visited {
    color: var(--grey-base);
}

/* Lists and Inline Elements */
ul {
    list-style: none; /* removes the bullets */
}

/* Utility Classes */
.text-sm {
    font-size: var(--font-size-sm);
}

.text-md {
    font-size: var(--font-size-md);
}

.text-lg {
    font-size: var(--font-size-lg);
}

.text-xl {
    font-size: var(--font-size-xl);
}

.logo-md {
    width: 4rem;
}

/* Application logo */
.logo-sm {
    background-color: var(--tertiary-base);
    width: 2rem;
}

/* -------------------------------------- COMPONENTS --------------------------------------  */

/* .button {
    margin: 0.5rem 2rem;
    padding: 0.5rem 2rem;
} */

/* trash can icon */
.delete-button {
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--primary-tint);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* 
        B/c <img> tag treats SVG as static image, CSS can't access SVG's internal <path> to change fill property
            SVG's hardcoded fill blocked all CSS overrides -> no color change on hover
            instead use CSS mask-image on <svg>

        Scalable Vector Graphics (svg) - XML-based format for vector images, def shapes <path> rather than pixels, allowing scalability w/out quality loss
            svg - canvas or container for the SVG, defines dimensions and coordinate system
            path - defining a shape via coordinates and commands (e.g., lines, curves)
            fill - color inside the shape (SVG or CSS property)
            stroke - outline of the shape
            viewBox - def coordinate system and visible area of SVG

        mask-image: CSS property applies an image as a mask, 
            opaque areas show element’s content (e.g., background color)
            transparent areas hide it.

        background-color: CSS property colors visible parts of masked SVG
        
        mask-image: applies the SVG as a mask to the <button> the svg's <path> is treated as the mask
            treats SVG as a shape, not a full image
                opaque areas let background-color show through
                transparent parts of SVG don't allow background-color to be visible
    */

    /* ensure only 1 icon - centered - restricted placement */
    mask-image: url('images/delete.svg'); /* get img - All other Browsers */
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    -webkit-mask-image: url('images/delete.svg'); /* get img - Safari */
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    
    cursor: pointer;
    transition: background-color 200ms ease;/* animates chg in background-color not-hover and hover */
  }
  
.delete-button:hover {
    background-color: var(--accent-base);
}
  
.custom-checkbox {    
    /* creo que transparent is not needed maybe b/c todo container bk-color is the same */
    background-color: transparent;
    transition: 200ms ease;

    border: 0.1rem solid var(--tertiary-base);
    border-radius: 50%;
    min-height: 1rem; /* insure circle doesn't get downside "squished" */
    min-width: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* insure not squeezed by other flexboxes? */
    cursor: pointer;
    transition: background-color 200ms ease;
}

.custom-checkbox img {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
}

/* fill or highlight circle "alien green" when checked */
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--tertiary-base);
}

/* doesn't work/not necessary b/c bk-color is the same as container */
/* input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--tertiary-base);
} */

/* strike out .todo-text when checked */
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-base);
}

/* hide checkbox */
input[type="checkbox"]{
    display: none;
}

/* --------------------------------------- SECTIONS ---------------------------------------  */

/* ---------------------------------- NAVBAR ----------------------------------  */

/* ------------------------------- HERO SECTION -------------------------------  */
.hero-section-container {
    /* height: calc(100vh - var(--nav-height));
    min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 0.25rem solid var(--primary-shade);
    /* margin-bottom: 1rem;     */
}

.hero-section-heading {
    color: var(--tertiary-base);
    /* margin-bottom: 1rem;     */
}

/* ------------------------------- TODO SECTION -------------------------------  */

.app-container {
    display: flex;
    flex-direction: column;
  }

/* #todo-input (tutorial) */
/* GET USER INPUT DATA */
.form-container {
    color: var(--grey-tint);
    caret-color: var(--tertiary-base); /* cursor color */
    background-color: var(--primary-shade);
    /*background-color: var(--white);*/ /* illusion input 1-container-with-add-button, typing contnent "overflows" */

    display: flex;
    flex-direction: row;
    justify-content: space-between; /* added todo-input and button position on opposite sides */
    /* align-items: center; */

    /* border: none; */
    border: 0.25rem solid var(--grey-base);
    border-radius: 2rem;
    width: 80%; /* added so width todo-input = width of todo-content */
    padding: 0rem;
    margin: 2rem auto;
}

#todo-input {
    color: var(--grey-base);
    border: none;
    border-radius: 2rem;
    text-align: center; /* align placeholder text */
    background-color: transparent;
    width: 90%; /* added so width todo-input = width of todo-content */
}

#todo-input:focus {
    outline: none; /* remove - browser default highliting of text field */
}

#add-btn {
    font-weight: var(--font-weight-bold);
    background-color: var(--tertiary-base);
    color: var(--primary-shade);
    cursor: pointer;

    border: none;
    border-radius: 2rem;
    padding: 1.15rem 2rem;
}

/* container for: checkbox, user input, delete button */
.todo-list-bullets-container {
    background-color: var(--primary-base);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;

    /* border: 0.25rem solid var(--secondary-tint); */
    width: 80%;
    padding: 0rem 1.25rem; /* !!! t/b = 0; so TEXT set's the height 1.25/2.5 !!!! */
    margin: 0.5rem auto;
    border-radius: 2rem;
    /* transition: 200ms ease; */
}

/* user input "text" inside each todo-list-bullets-container */
.todo-list-bullets-container .todo-text {
    padding: 1.25rem;
    padding-right: 0rem; /* remove padding right of text, so text can take up all space available */
    flex-grow: 1; /* todo-text in flexbox takes up 1=all remaining width-space, ?could use space-between on flexbox but text centered */
    transition: background-color 200ms ease; /* text white to grey on checked */
}

/* ------------------------------- FOOTER SECTION -------------------------------  */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* 1rem = 10px */

    border: 0.25rem solid var(--primary-shade);
}

.social-icons-container {
    display: flex;
    gap: 1.5rem;
}

.footer-links-container {
    display: flex;
    gap: 1rem;
}

/* style not applying will fix later */
/* .footer-links-text {
    color: var(--tertiary-base);
} */

.social-icons {
    width: 2rem;
}

.heart-icon {
    color: var(--secondary-base);
}